<div class="jumbotrom bg-secondary bg-gradient p-3">
  <div class="container">
    <h1>Leandro Queiroz Trepador</h1>
    <p>Controle - Faturamento & Gastos</p>

    <a href="{{URL}}"><button id="btn-home" class="btn-menu btn btn-outline-light active">HOME</button></a>
    <a href="{{URL}}/sobre"><button id="btn-sobre" class="btn-menu btn btn-outline-light">SOBRE</button></a>
    <a href="{{URL}}/contato"><button id="btn-contato" class="btn-menu btn btn-outline-light">CONTATO</button></a>
    <a href="{{URL}}/depoimentos"><button id="btn-depoimentos" class="btn-menu btn btn-outline-light">DEPOIMENTOS</button></a>
    <a href="{{URL}}/admin/login"><button id="btn-login" class="btn-menu btn btn-outline-light">LOGIN</button></a>
  </div>
</div>